.resultul {
  list-style-type: none;
  padding: 0;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Estilo para cada item da lista */


