li {
  display: inline-block;
  margin: 2rem 2rem;
}

h1 {
  text-transform: uppercase;
  font-family: canter;
  letter-spacing: 2px;
  color: black;
}

p {
  text-transform: uppercase;
  font-family: canter;
  letter-spacing: 2px;
  color: black;
}

a {
  text-decoration: none;
}

.eachResult {
  border: 1px solid black;
  padding: 4rem 4rem;
}

.eachResult:hover {
  background-color: #ccc;
  transition: 0.2s;
}
