.filterButton {
  background-color: #4caf50;
  color: white;
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  display: inline-block;
  width: 37px;
  height: 37px;
  border: 2px solid transparent;
  border-top-color: #ffffff;
  animation: spin 0.6s linear infinite;
}

className="inline-block w-9 h-9 animation-[spin_0.6s_linear_infinite] rounded-[50%]"


