.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10%;
  flex-wrap: wrap; /* Adiciona quebra de linha */
}

.filter {
  width: 100%;
  max-width: 60%;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between; /* Adiciona espaço entre os elementos */
}

.filter label {
  flex-basis: 100%;
  margin-bottom: 5px;
}

.filter select,
.filter input[type="number"],
.filter input[type="text"] {
  padding: 5px;
  flex: 1;
  min-width: 0;
  border: 1px solid #ccc;
}

.filterButton {
  background-color: #4caf50;
  color: white;
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


