.modalcontent {
  flex-basis: 26%;
  margin: 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: black 1px solid;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.295);
  height: 450px;
  max-width: 350px;
  border-radius: 10px;
}

.modalcontent a {
  text-decoration: none;
  width: 100%;
}


/* Estilo para o título */
.modalcontent h2 {
  margin-top: 0;
  font-size: 21px; /* Reduzir o tamanho da fonte do título */
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.modalcontent h3 {
  font-size: 25px; /* Reduzir o tamanho da fonte do sub-título */
  color: rgb(15, 199, 15);
  text-decoration: none;
}


.itemImage {
  max-width: 250px;
  max-height: 180px;
}

.currentImage {
  max-width: 250px;
  max-height: 180px;
  object-fit: contain;
  margin: auto; /*centraliza horizontalmente*/
  display: block; /*centraliza verticalmente*/
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.295);
}

.navigationButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px 14px;
  border: none;
  outline: none;
  cursor: pointer;
}

.previousButton {
  left: 0;
}

.nextButton {
  right: 0;
}

.navigationButton:hover {
  opacity: 0.5;
}

.navigationButton.left {
  left: 0;
}

.navigationButton.right {
  right: 0;
}

.details {
  display: flex;
  border: 1px solid yellow;
  border-radius: 10px;
  background-color: black;
  font-size: 17px;
  padding: 2px;
  margin: 2px 5px 2px 5px;
  max-height: 30px;
  min-width: 100px;
  justify-content: center;
  align-items: center;
  color: yellow;
}

.moreDetails {
  background-color: black;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.moreDetails:hover {
  background-color: rgb(51, 51, 51);
}

.titleWrapper {
  width: 100%;
  height: 84px;
}

.itemImageWrapper {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230px;
  width: 100%;
  background-color:  rgb(90, 89, 89);
}

.detailsWrapper {
  width: 100%;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  
}

.moreDetailsWrapper {
  width: 100%;
  height: 50px;
  
}

.priceWrapper {
  width: 100%;
  height: 60px;
  
}
