.modalcontent {
    flex-basis: 26%;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: black 1px solid;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.295);
    height: 300px;
  }

  .modalcontent a {
    text-decoration: none;
    width: 100%;
  }
  
  /* Estilo para a imagem */
  .modalcontent img {
    max-width: 100%;
    height: auto;
  }
  
  /* Estilo para o título */
  .modalcontent h2 {
    margin-top: 0;
    font-size: 16px; /* Reduzir o tamanho da fonte do título */
    text-align: center;
    text-transform: uppercase;
    color: black;
  }
  
  .modalcontent h3 {
    margin-bottom: 0;
    font-size: 14px; /* Reduzir o tamanho da fonte do sub-título */
    color: rgb(15, 199, 15);
    text-decoration: none;
  }
  
  /* Estilo para a descrição */
  .modalcontent p {
    margin: 0;
    font-size: 14px;
    text-align: center;
    max-height: 60px; /* Reduzir a altura máxima da descrição */
    overflow: hidden;
    color: #505050;
  }
  